<!doctype html>
<html>
<head>
    <title>Skeleton</title>
    <!-- javascript -->
    <script language="javascript" type="text/javascript" src="./dist/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="./dist/js/ripples.min.js"></script>
    <script language="javascript" type="text/javascript" src="./dist/js/material.min.js"></script>
    <script language="javascript" type="text/javascript" src="./dist/js/bootstrap.min.js"></script>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="./dist/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="./dist/css/font-awesome.min.css">
</head>
<body>
    <script>$(function() {$.material.init();});</script>
    {{{body}}}
</body>
</html>
